{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion des albums{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
            <div class="card-body px-4 py-3">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h4 class="fw-semibold mb-8">Gestion des albums</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Divers</a></li>
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Pages</a></li>
                                <li class="breadcrumb-item" aria-current="page">albums</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-3">
                        <div class="text-center mb-n5">
                            <span class="head-icon"><i class="ti-image"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col"><h5 class="mb-2 fw-semibold fs-4">Formulaire</h5></div>

                            </div>

                        </div>
                        <div class="card-body">
                            <div id="table-loader" class="table-loader">
                                <div class="loader"></div>
                            </div>
                            <div class="table-responsive">
                                <div class="row d-flex align-items-center">
                                    <div class="col-6">
                                        {% if album.media %}
                                            <img src="{{ absolute_url(asset('upload/galerie/' ~ album.media)) }}" alt="{{ album.titre }}" class="img-fluid">
                                        {% endif %}
                                    </div>
                                    <div class="col-6">
                                        {{ form_start(form) }}
                                            <div class="row">
                                                <div class="col">{{ form_row(form.media) }}</div>
                                            </div>
                                            {{ form_widget(form) }}
                                            <div class="row mt-5">
                                                <div class="col-6 d-grid">
                                                    <a href="{{ path('app_backend_album_index') }}" class="btn btn-outline-primary">Annuler</a>
                                                </div>
                                                <div class="col-6 d-grid">
                                                    <button id="saveButton" class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
                                                </div>
                                            </div>

                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
    <script src="{{ absolute_url(asset('backoffice/js/upload-init.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/vendor/tinymce/tinymce.min.js')) }}"></script>
    <script>
        tinymce.init({
            selector: 'textarea#cgu_contenu',  // change this value according to your HTML
            language_url: '{{ absolute_url(asset('backoffice/vendor/tinymce/langs/fr_FR/langs/fr_FR.js')) }}',
            plugins: [
                'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
                'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code', 'fullscreen', 'insertdatetime',
                'media', 'table', 'emoticons', 'template', 'help'
            ],
            a_plugin_option: true,
            a_configuration_option: 400,
            menubar: true,
            toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media | forecolor backcolor emoticons',

            setup: function (editor) {
                editor.on('init', function () {
                    var textarea = document.getElementById('cgu_contenu');
                    editor.setContent(textarea.value);
                    textarea.style.display = 'none';
                });
            }
        });
    </script>
{% endblock %}