{% extends 'base.html.twig' %}

{% block body %}
 <section id="galerie">
  <div class="breadcrumb mt-3">
   <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
     <li class="breadcrumb-item"><a href="{{ absolute_url(path('app_home')) }}"><i class="ti-home-2"></i></a></li>
     {#                    <li class="breadcrumb-item">Qui sommes-nous?</li>#}
     <li class="breadcrumb-item active" aria-current="page">Galerie</li>
    </ol>
   </nav>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
   {% for album in albums  %}
    <div class="col album">
     <a href="{{ absolute_url(path('app_frontend_galerie_album', {'slug': album.slug})) }}">
      <div class="card h-100">
       <img src="{{ absolute_url(asset('/upload/galerie/'~ album.media)) }}" class="card-img-top" alt="{{ album.titre }}">
       <div class="card-body">
        <p class="card-text">{{ album.titre }}</p>
       </div>
      </div>
     </a>
    </div>
   {% endfor %}

  </div>
 </section>
{% endblock %}

{% block title %}Galerie photos{% endblock %}

