{% extends 'base.html.twig' %}
{% block title %} MASE Côte d'Ivoire{% endblock %}
{% block body %}
    <section id="slide">
        <div id="maseCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" data-aos="flip-left" data-aos-duration="3000" data-aos-easing="ease-out-cubic">
                {% for slide in slides %}
                    <div class="carousel-item {{ loop.first ? 'active'}} ">
                        <img src="{{ absolute_url(asset('upload/slides/' ~ slide.media)) }}" class="d-block w-100" alt="{{ slide.titre }}" loading="lazy">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#maseCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#maseCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section id="mission">
        <div class="row mt-5">
            <div class="col-md-8" data-aos="fade-right" data-aos-duration="3000" data-aos-easing="linear">
                {% if mission %}
                    <h5 class="rubrique"><span>Mission</span></h5>
                    <div class="content mt-5">
                        <a href="#">
                            <img src="{{ absolute_url(asset('upload/presentation/' ~ mission.media)) }}" alt="{{ mission.titre }}" class="img-fluid" loading="lay">
                        </a>
                        {{ mission.contenu|striptags|slice(0,1000)|raw }}
                        <a
                                href="{{ absolute_url(path('app_frontend_mission_page')) }}"
{#                                hx-target="#page-content"#}
{#                                hx-get="{{ path('app_frontend_mission_page') }}"#}
{#                                hx-swap="outerHTML"#}
{#                                hx-trigger="click"#}
{#                                hx-push-url="true"#}
                        >
                            Lire la suite...
                        </a>
                    </div>
                {% endif %}

            </div>
            <div class="col-md-4 entreprise" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="linear">
                <h5><span>Nos adhérents</span></h5>
                <div class="content mt-5">
                    <div style="font-size: .8rem; font-style:italic; margin-bottom: 5px; color: #0d4982; font-weight:bold;">10 choix aléatoires des {{ entreprises|length }} adhérents</div>
                    <table class="table table-hover table-bordered table-striped table-sm scroll-table">
                        <thead>
                        <th class="text-center">#</th>
                        <th class="text-center">ENTREPRISES</th>
                        </thead>
                        <tbody>
                        {% for entreprise in entreprises|slice(0,10) %}
                            <tr>
                                <td>{{ entreprise.id }}</td>
                                <td>{{ entreprise.raisonSociale }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
{#                    <a href="#" class="btn btn-outline-success btn-sm">Voir tous les adhérents</a>#}
{#                    <button id="scrollUpBtn" class="btn btn-outline-secondary btn-sm"><i class="bi bi-chevron-double-up"></i></button>#}
{#                    <button id="scrollDownBtn" class="btn btn-outline-secondary btn-sm"><i class="bi bi-chevron-double-down"></i></button>#}
                </div>
            </div>
        </div>
    </section>

    <section id="adhesion">
        <div class="row mt-5">
            <div class="col mt-5">
                <h5><span>Adhesion</span></h5>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-10 col-lg-10 col-xl-8 offset-md-1 offset-lg-1 offset-xl-2 text-center">
                <div class="row row-cols-1 row-cols-md-2 g-4">

                    <div class="col" data-aos="fade-up-left" data-aos-duration="3000" data-aos-easing="linear">
                        <div class="card EU">
                            <div class="card-inner">
                                <div class="card-front">
                                    <h5 class="card-title EI">Entreprises Intervenantes</h5>
                                    <img src="{{ absolute_url(asset('assets/img/adhesion_EI.png')) }}" class="card-img-top" alt="...">
                                </div>
                                <div class="card-back">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <a href="{{ absolute_url(path('app_frontend_adhesion_entreprise', {'slug': 'entreprises-intervenantes'})) }}" class="btn btn-outline-success btn-lg">Adhérer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col" data-aos="fade-down-right" data-aos-duration="3000" data-aos-easing="linear">
                        <div class="card">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img src="{{ absolute_url(asset('assets/img/adhesion_EU.png')) }}" class="card-img-top" alt="...">
                                    <h5 class="card-title EU">Entreprises Utilisatrices</h5>
                                </div>
                                <div class="card-back">
                                    <div class="card-content">
                                        <a href="{{ absolute_url(path('app_frontend_adhesion_entreprise', {'slug': 'entreprises-utilisatrices'})) }}" class="btn btn-outline-success btn-lg">Adhérer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {% if actualites %}
        <section id="actualites">
            <div class="row mt-5">
                <div class="col mt-5">
                    <h5><span>Actualités</span></h5>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 mt-3" data-aos="zoom-out" data-aos-duration="3000" data-aos-easing="linear">
                {% for actualite in actualites|slice(0,3) %}
                    <div class="col">
                        <div class="card h-100">
                            <figure>
                                <img src="{{ absolute_url(asset('upload/actualites/' ~ actualite.media)) }}" class="card-img-top" alt="{{ actualite.titre }}">
                            </figure>

                            <div class="card-body">
                                <h5 class="card-title">{{ actualite.titre }}</h5>
                                <p class="card-text">{{ actualite.contenu|striptags|slice(0,200)|raw }}</p>
                                <a href="{{ absolute_url(path('app_frontend_actualite_show',{slug: actualite.slug})) }}">Lire la suite <i class="bi bi-arrow-right-circle"></i></a>
                            </div>
                            <div class="card-footer">
                                <small class="text-body-secondary">{{ actualite.updatedAt|ago }}</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('assets/js/accueil.js')) }}"></script>
{% endblock %}