{% extends 'base.html.twig' %}
{% block title %}{{ mission.titre }}{% endblock %}
{% block body %}
    <section id="page">
        <div class="breadcrumb mt-3">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ absolute_url(path('app_home')) }}"><i class="bi bi-house-fill"></i></a></li>
                    <li class="breadcrumb-item">Qui sommes-nous?</li>
                    <li class="breadcrumb-item active" aria-current="page">Mission</li>
                </ol>
            </nav>
        </div>
        <div class="row mt-5">
            <div class="col-lg-8">
                <h5 class="titre">{{ mission.titre ? mission.titre }}</h5>
                <img src="{{ absolute_url(asset('upload/presentation/' ~ mission.media)) }}" alt="" class="img-fluid">
                {{ mission.contenu ? mission.contenu|raw }}
            </div>
            <div class="col-lg-4 d-none d-lg-block">
                <h5><span>Actualités</span></h5>
                <div class="row row-cols-1 mt-3 article">
                    <div class="col mb-3 article-item">
                        <a href="#">
                            <div class="row article-content">
                                <div class="col-4">
                                    <figure>
                                        <img src="https://images.unsplash.com/photo-1686349911426-5f98a536906f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="" class="img-fluid">
                                    </figure>
                                </div>
                                <div class="col-8">
                                    <div class="titre">Titre de l'articles de l'Actualités</div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col mb-3">
                        <a href="#">
                            <div class="row">
                                <div class="col-4">
                                    <img src="https://images.unsplash.com/photo-1686349911426-5f98a536906f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="" class="img-fluid">
                                </div>
                                <div class="col-8">
                                    <div class="titre">Titre</div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col mb-3">
                        <a href="#">
                            <div class="row">
                                <div class="col-4">
                                    <img src="https://images.unsplash.com/photo-1686349911426-5f98a536906f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="" class="img-fluid">
                                </div>
                                <div class="col-8">
                                    <div class="titre">Titre</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

