{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body %}
    <h1>Presentation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ presentation.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ presentation.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ presentation.contenu }}</td>
            </tr>
            <tr>
                <th>Media</th>
                <td>{{ presentation.media }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ presentation.slug }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ presentation.updatedAt ? presentation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_backend_presentation_index') }}">back to list</a>

    <a href="{{ path('app_backend_presentation_edit', {'id': presentation.id}) }}">edit</a>

    {{ include('backend_presentation/_delete_form.html.twig') }}
{% endblock %}
